@import 'main.css';

/* Contenedor del tablero */
.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* TABLERO ESTÁTICO */
.board {
  width: 480px;
  height: 480px;

  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);

  border: 4px solid #222;
  background-color: #222;
}

/* Casillas */
.square {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 38px;
  cursor: pointer;
  user-select: none;
}

/* Colores */
.square.white {
  background-color: #f0d9b5;
}

.square.black {
  background-color: #b58863;
}

/* Selección */
.square.selected {
  outline: 3px solid gold;
  z-index: 1;
}
