@import 'main.css';

/* Contenedor del tablero */
.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* TABLERO ESTÁTICO */
.board {
  width: 480px;
  height: 480px;

  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);

  border: 4px solid var(--c3);
  background-color: var(--c2);
  box-shadow: 
    0 4px 0 var(--c2),
    0 8px 16px rgba(0, 0, 0, 0.4);
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/* Casillas */
.square {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 38px;
  cursor: pointer;
  user-select: none;
}

/* Colores */
.square.white {
  background-color: var(--c4);
}

.square.black {
  background-color: var(--c3);
}

/* Selección */
.square.selected {
  outline: 3px solid var(--accent);
  z-index: 1;
  box-shadow: inset 0 0 0 1px var(--accent);
}
